

nav {
    display: flex;
    z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  /* padding: 25px; */
  padding: 0;
  width: 100vw;
  background: #340BB7;
}



#logo {
    border: none;
    height: 125px;
    width: 125px;
    margin: 25px 0 25px 25px;
    background-image: url("../../assets/dwDev1.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }